<div class="module toolbar">
    <div class="box1"><p>微信咨询</p><div class="fix"><img src="/huoke?c=Clue&amp;a=qwewm&amp;u=cawcde771223ec1cdd&amp;t=d7ac79fb6de3cab770bd21f4bd1803e9" style="width:80px;height:80px"></div></div>
    <a onclick="clickbutton()" target="_blank"><div class="box2"><p>在线咨询</p></div></a>
    <div class="box3"><p>电话咨询</p><div class="fix"><p>中国地区：400-666-1553</p><p>英国/海外：+44(0)2035764773</p></div></div>
    <a href="javascript:;" onclick="openbook();"><div class="box4"><p>免费评估</p></div></a> <div class="box5"><p>公众号</p><div class="fix"><img src="/templates/2021ssdl/images/weixin_mp_2023.png" alt=""></div></div>
    <a href="https://www.peccn.com/?source=baidu&amp;VIP00plan=923zhongjieci-Kcpc&amp;unit=12-liuxuezhongjie&amp;keyword=liuxuezaixianzixun&amp;e_keywordid=677713684929&amp;bd_vid=1049241991307155233#top&amp;bd_vid=1049241991307155233"><div class="box6"><img src="/templates/2021ssdl/images/arrow_2023.png" alt=""></div></a>
</div>