<div class="footer">
    <div class="container">
        <div>
            <a class="logo">
                <img src="https://blog.nineya.com/upload/2023/04/logo.png" alt="{{ .Site.SiteName }}"/>
            </a>
            <div>
                <p>联系邮箱</p>
                <p>361654768@qq.com</p>
            </div>
            <div>
                <p>联系邮箱</p>
                <p>361654768@qq.com</p>
            </div>
        </div>
        <div>
            <p>©2018 自适应模板—互联网 版权所有</p>
        </div>
    </div>
</div>